body {
  background: url("../img/background.jpg") 0 0 / 50% repeat;
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 15px;
}
h1, h2, h3, h4 {
  color: #0a8;
}
h1 {
  font-size: 38px;
  font-family: Georgia, serif;
}
textarea {
  resize: none;
}
p, label {
  font-family: "Lato", Arial, sans-serif;
  margin: 5px 0px;
}
blockquote {
  margin: 20px 0;
}
blockquote:nth-child(2) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #eee;
  margin: 0;
}
a {
  color: #0a8;
}
a:hover {
  color: #008d71;
  text-decoration: none;
}
a:visited {
  color: #008d71;
}
h1 a {
  color: #0a8;
}
h1 a:visited {
  color: #0a8;
}
blockquote p {
  color: #0a8;
}

.container {
  background-color: #fdfdfd;
  max-width: 950px;
  box-shadow: 0px 0px 30px #000;
}
body > .container {
  min-height: 95vh;
  padding-bottom: 50px;
}
.main-content {
  padding-bottom: 40px;
}
.page-header {
  border: none;
  margin: 30px 0 15px;
  padding: 0;
}
.page-header svg {
  height: 95px;
}
.page-header svg:hover {
  fill: #0a8;
  stroke: #0a8;
}
.navbar-default {
  background-color: transparent;
  border: none;
  text-align: center;
  margin-bottom: 10px;
}
.navbar-default .navbar-toggle {
  border: none;
  margin: 0;
  width: 100%;
}
.navbar-default .navbar-nav > li > a {
  border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: transparent;
  border-bottom: 2px solid #0a8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  width: 30px;
  height: 3px;
  background-color: #0a8;
  margin-left: auto;
  margin-right: auto;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}
.navbar-toggle {
  float: left;
}
.navbar-brand {
  display: none;
}
.carousel {
  margin: 0px 0px 10px 0px;
  border: 1px solid #0a8;
}
.form-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.send-message {
  color: rgb(0, 170, 136);
  font-size: 16px;
}
.fixed-side-social-container {
  right: 0;
  width: 60px;
  position: fixed;
  top: 0px;
  background-repeat: no-repeat;
  z-index: 10;
}
.fixed-side-social-container .social-icon {
  float: right;
  width: 60px;
  opacity: .75;
  display: block;
  background-repeat: no-repeat;
  height: 60px;
  transition: all ease .2s;
  background-position: 0 0;
  background-color: #3b5998;
}
.fixed-side-social-container .social-icon:hover {
  opacity: 1;
}
.fixed-side-social-container .facebook-icon {
  background-position: 0 -122px;
}
.fixed-side-social-container .facebook-icon img {
  margin: 13px 0 0 13px;
}
.carousel {
  margin: 0 auto;
}
.carousel-inner > .item {
  transition: 0.6s ease-in-out left;
}
/* social button */
.social-icon .fa {
  font-size: 26px;
  float: right;
  padding: 15px 20px;
  color: white;
  background-color: #3b5998;
}


#about-image {
  width: 100%;
  margin-right: 15px;
  border: 1px solid #0a8;
}
#recaptcha_area, #recaptcha_table {
  position: relative;
  right: 10px;
}
#footer {
  background-color: black;
  padding: 15px 0px;
}
#submitButton {
  background-color: #0a8;
  border-color: #0a8;
}
#studyForm {
  background-color: #0a8;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}
#studyForm #submitButton {
  background-color: white;
  color: rgb(0, 170, 136);
}
#studyForm .send-message {
  color: white;
}





@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    display: inline-block;
  }
  .nav > li > a {
    padding: 10px 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    display: none;
  }
}