/* Theme colors:
Teal: #007c63
Darker teal: #006b56
 */

::selection {
  color: #fafafa;
  background-color: #007c63;
}

::moz-selection {
  color: #fafafa;
  background-color: #007c63;
}

body {
  background: url("../img/background.jpg") 0 0 / 50% repeat;
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 15px;
  position: relative;
}

body,
body>.container {
  min-height: 100vh;
}

footer {
  background: #121212;
  color: #fafafa;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
  color: #007c63;
  text-transform: capitalize;
}

h1 {
  font-size: 38px;
  font-family: Georgia, serif;
}

textarea {
  resize: none;
}

p,
label,
footer {
  font-family: "Lato", Arial, sans-serif;
}

p,
label {
  margin: 5px 0px;
}

blockquote {
  margin: 20px 0;
}

blockquote:nth-child(2) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #eee;
  margin: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  color: #666;
}

a {
  color: #007c63;
  text-decoration: underline;
}

h1 a,
h1 a:hover,
h1 a:visited {
  text-decoration: none;
}

a:hover {
  color: #006b56;
}

a:visited {
  color: #006b56;
}

h1 a {
  color: #007c63;
}

h1 a:visited {
  color: #007c63;
}

blockquote p {
  color: #007c63;
}

.container {
  background-color: #fafafa;
  max-width: 950px;
  box-shadow: 0px 0px 30px #000;
}

body>.container {
  padding-bottom: 85px;
}

.main-content {
  padding-bottom: 40px;
}

.page-header {
  border: none;
  margin: 30px 0 15px;
  padding: 0;
}

.page-header svg {
  height: 95px;
}

.page-header svg:hover {
  fill: #007c63;
  stroke: #007c63;
}

.navbar-default {
  background-color: transparent;
  border: none;
  text-align: center;
  margin-bottom: 10px;
}

.navbar-default .navbar-toggle {
  border: none;
  margin: 0;
  width: 100%;
}

.navbar-default .navbar-nav>li>a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: #666;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: transparent;
  border-bottom: 2px solid #007c63;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 30px;
  height: 3px;
  background-color: #007c63;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-toggle {
  float: left;
}

.navbar-brand {
  display: none;
}

.carousel {
  margin: 0px 0px 10px 0px;
  border: 1px solid #007c63;
}

.form-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.send-message {
  color: rgb(0, 170, 136);
  font-size: 16px;
}

.social-container {
  right: 0;
  width: 60px;
  position: fixed;
  top: 0px;
  background-repeat: no-repeat;
  z-index: 10;
}

.social-container .social-icon {
  float: right;
  width: 60px;
  opacity: .75;
  display: block;
  background-repeat: no-repeat;
  height: 60px;
  transition: all ease .2s;
  background-position: 0 0;
  background-color: #3b5998;
}

.social-container .social-icon:hover {
  opacity: 1;
}

.social-container .facebook-icon {
  background-position: 0 -122px;
}

.social-container .facebook-icon img {
  margin: 13px 0 0 13px;
}

.carousel {
  margin: 0 auto;
}

.carousel-inner>.item {
  transition: 0.6s ease-in-out left;
}

.social-icon svg {
  width: 32px;
  height: 32px;
  fill: #fafafa;
  stroke: #fafafa;
  margin: 14px 0 0 13px;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #3071aa;
}


#about-image {
  width: 100%;
  margin-right: 15px;
  border: 1px solid #007c63;
}

#recaptcha_area,
#recaptcha_table {
  position: relative;
  right: 10px;
}

#footer {
  background-color: black;
  padding: 15px 0px;
}

#submitButton {
  background-color: #007c63;
  border-color: #007c63;
}

#studyForm {
  background-color: #007c63;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}

#studyForm #submitButton {
  background-color: white;
  color: rgb(0, 170, 136);
}

#studyForm .send-message {
  color: white;
}





@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    display: inline-block;
  }

  .nav>li>a {
    padding: 10px 25px;
  }

  .page-header svg {
    height: 80px;
  }

  .page-header h1 {
    padding-top: 5px;
  }
}

@media (min-width: 992px) {
  .page-header {
    text-align: center;
  }

  .page-header .logo-wrap,
  .page-header h1 {
    display: inline-block;
  }

  .page-header h1 {
    margin: 0;
    padding: 0 0 0 25px;
    position: relative;
    top: -39px;
  }

  .navbar-default {
    clear: both;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    display: none;
  }

  .page-header .logo-wrap {
    float: left;
  }

  .page-header svg {
    margin-left: 15px;
  }
}
